body {
    font-family: "Times New Roman", Times, serif;
    /* background-color: white; */
}

.site-title {
    font-size: 5rem;
    font-weight: 700;
    /* letter-spacing: 0.1em; */
    margin: 2rem 0 4rem;
    font-family: Helvetica, Arial, sans-serif;
}

.work-title, .work-title-story {
    font-family: "didot", Georgia, serif;
    /* font-family: "Times New Roman", Georgia, serif; */
    /* font-style: italic; */
    font-size: 3rem;
    /* letter-spacing: -0.03em; */
    letter-spacing: -0.1em;
}

.work-title {
    margin-top: -.4rem;
}

.work-title-story {padding-top: 1rem}

.work-date {
    color: #888;
    font-size: 0.9rem;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: right;
}

.work-image {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.work-image:hover {
    opacity: 0.9;
}

a {color: #000;}

p {color: #888; font-size: .85rem; line-height: 1.85rem;font-family: Georgia, 'Times New Roman', Times, serif;}


@font-face {
    font-family: 'didot';
    src: url('didot-w01-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  


/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

/* .bodoni-moda-regular {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.bodoni-moda-medium {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
  } */

/* media queries */

@media (max-width: 1024px) {

    .site-title {
        font-size: 4.5rem;
    }

}

@media (max-width: 768px) {
    .site-title {
        font-size: 2.5rem;
        margin: 2rem 0 3rem;
    }
    
    .work-title {
        font-size: 1.5rem;
    }

    .work-title-story {
        font-size: 2.5rem;
    }
}

@media (max-width: 575px) {

    .work-title {
        font-size: 2.5rem;
        margin-top: -.4rem;
    }

    .site-title {
        font-size: 30px;
    }

}